<p>Hello,</p>

<p>Someone requested a password reset for your Life OS account (<%= @resource.email %>).</p>

<p>Click the link below to choose a new password. This link expires in 6 hours.</p>

<p><a href="<%= @reset_url %>">Reset my password</a></p>

<p>If you didn't request this, you can safely ignore this email.</p>
